<main id="main" class="main bg-light">
  <div class="top-wrapper">
    <div class="animated-pics">
      <%= image_tag "1.jpg", alt:"scenery", class:"img img1", width: "100%" %>
      <%= image_tag "2.jpg", alt:"scenery", class:"img img2", width: "100%" %>
      <%= image_tag "3.jpg", alt:"scenery", class:"img img3", width: "100%" %>
      <%= image_tag "4.jpg", alt:"scenery", class:"img img4", width: "100%" %>
    </div>
  </div>
  <div class="d-flex row">
    <section class="ml-5">
      <h2 class="text-center p-3">These places will take your breath away</h2>
      <div class="recommended-pic ml-5">
        <a class="card1" href="#">
          <%= image_tag "1.jpg", alt:"scenery", class:"recommended-img mx-auto mb-3 d-block", width: "260px" %>
          <p class="m-1">place</p>
          <p class="m-1">this is a famous scenery in japan.</p>
        </a>
        <a class="card2" href="#">
          <%= image_tag "2.jpg", alt:"scenery", class:"recommended-img mx-auto mb-3 d-block", width: "260px" %>
          <p class="m-1">place</p>
          <p class="m-1">this is a famous scenery in japan.</p>
        </a>
        <a class="card3" href="#">
          <%= image_tag "3.jpg", alt:"scenery", class:"recommended-img mx-auto mb-3 d-block", width: "260px" %>
          <p class="m-1">place</p>
          <p class="m-1">this is a famous scenery in japan.</p>
        </a>
        <a class="card4" href="#">
          <%= image_tag "4.jpg", alt:"scenery", class:"recommended-img mx-auto mb-3 d-block", width: "260px" %>
          <p class="m-1">place</p>
          <p class="m-1">this is a famous scenery in japan.</p>
        </a>
        <a class="card5" href="#">
          <%= image_tag "1.jpg", alt:"scenery", class:"recommended-img mx-auto mb-3 d-block", width: "260px" %>
          <p class="m-1">place</p>
          <p class="m-1">this is a famous scenery in japan.</p>
        </a>
        <a class="card6" href="#">
          <%= image_tag "2.jpg", alt:"scenery", class:"recommended-img mx-auto mb-3 d-block", width: "260px" %>
          <p class="m-1">place</p>
          <p class="m-1">this is a famous scenery in japan.</p>
        </a>
      </div>
    </section>
    <aside class="aside ml-md-5 mt-md-5 pt-md-4">
      <div class="ads">
        <%= image_tag "1.png", alt:"ad", class:"d-block bg-dark mb-md-4", width: "400px" %>
        <%= image_tag "1.png", alt:"ad", class:"d-block bg-dark mb-md-4", width: "400px" %>
        <%= image_tag "1.png", alt:"ad", class:"d-block bg-dark mb-md-4", width: "400px" %>
      </div>
    </aside>
  </div>
</main>